<p id="notice"><%= notice %></p>
<p>
  <strong>user:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>item:</strong>
  <%= @order.item.try(:name) %>
</p>

<p>
  <strong>subscription:</strong>
  <%= @order.subscription %>
</p>

<p>
  <strong>current_period_end:</strong>
  <%= @order.current_period_end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', item_orders_path(@order.item) %>
